@import '../../global.scss';

.portfolio {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
  }

  ul {
    display: flex;
    margin: 10px;
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
      width: 220px;
      height: 150px;
      border-radius: 10px;
      border: 1px solid rgb(235, 228, 228);
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 2s ease;
      cursor: pointer;

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: #333;
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
